
:root {
    box-sizing: border-box;
}


header{
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

body {
    background-color: #e6ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 4.5rem;
}

a > img {
    height: 18rem;
    margin: 5px;

}

#maleButton {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 1rem;
    background-color:#ebffe6;
    height: 50px;
    width: 500px;
    margin-bottom: 1rem;
    color: black;
}

#maleButton:hover {
    background: #ffdecc;
}

#femaleButton {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 1rem;
    background-color: #ebffe6;
    height: 50px;
    width: 500px;
    margin-bottom: 1rem;
    color: black;
}

#femaleButton:hover {
    background: #ffdecc;
}

#otherButton {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 1rem;
    background-color: #ebffe6;
    height: 50px;
    width: 500px;
    margin-bottom: 1rem;
    color: black;
}

#otherButton:hover {
    background: #ffdecc;
}