:root {
    box-sizing: border-box;
}

h1{
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
}

body {
    background-color: #ebffe6;
}

a > img {
    height: 18rem;
    margin: 5px;

}

button {
    font-size: 2rem;
    background-color: #ffdecc;
    border-radius: 10px;
    padding: 10px;
}
