body{
    background-color: #e6ffff;
}

:root {
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    color: #e6ffff;
    padding-bottom: 3rem;
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
}

main {
    padding: 3rem;
}

img {
    border: solid 15px #e6ffff;
    border-radius: 1rem;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
}

li {
    list-style-type: none;
    color:black;
    font-family: 'Poppins', sans-serif; 
}

.container {
    display: flex;
}

.nav {
    border: solid 1px #ebffe6;
    padding-right: 2rem;
    padding-left: 1rem;
    border-radius: 1rem;
    background-color: #e6ffff;
}

footer{
    display: flex;
    justify-content: center;
    font-size: 1rem;
    color: #ebffe6;
    font-family: 'Poppins', sans-serif; 
}