

header {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    padding-bottom: 1rem;
}

.senatorGrid {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5rem;
}

div {
    padding: .5rem;
}

figure {
    margin-bottom: 2rem;
}

figcaption {
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.fa-democrat {
    color: blue;
}

.fa-republican {
    color: red;
}

.fa-star {
    color: yellow;
}

.progressDiv {
    display: flex;
    flex-direction: column;
}

label {
    font-size: .75rem;
    font-family: 'Poppins', sans-serif;
}