body{
    background-color: #e6ffff;
}

header{
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: black;
}


.senatorGrid {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5rem;
}

div {
    padding: .5rem;
}

#ageButton {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 1rem;
    background-color: #ebffe6;
    height: 50px;
    width: 500px;
    margin-bottom: 1rem;
    color: black;
}

#seniorityButton {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 1rem;
    background-color: #ebffe6;
    height: 50px;
    width: 500px;
    margin-bottom: 1rem;
    color: black;
}

figure {
    margin-bottom: 2rem;
}

figcaption {
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: black;
}

.fa-democrat {
    color: blueviolet;
}

.fa-republican {
    color: hotpink;
}

.fa-star {
    color: yellow;
}

.progressDiv {
    display: flex;
    flex-direction: column;
}

label {
    font-size: .75rem;
    font-family: 'Poppins', sans-serif;
    color: black;

}